retail/artifacts/qnamaker/logicapp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "_generator": {
      "name": "bicep",
      "version": "0.4.1008.15138",
      "templateHash": "11839234684543456375"
    }
  },
  "parameters": {
    "workflows_logicapp_fintax": {
      "type": "string"
    },
    "translationKey": {
      "type": "string"
    },
    "KBKey": {
      "type": "string"
    },
    "qnaMakerResource": {
      "type": "string"
    },
    "KBID": {
      "type": "string"
    },
	  "location": {
      "type": "string"
    },
	
  },
  "functions": [],
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('workflows_logicapp_fintax')]",
      "location": "[parameters('location')]",
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {},
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "Content-Type": "application/json",
                  "properties": {
                    "question": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "actions": {
            "ToEnglish": {
              "runAfter": {},
              "type": "Http",
              "inputs": {
                "body": [
                  {
                    "Text": "@triggerBody()?['question']"
                  }
                ],
                "headers": {
                  "Content-Type": "application/json",
                  "Ocp-Apim-Subscription-Key": "[parameters('translationKey')]"
                },
                "method": "POST",
                "uri": "https://api.cognitive.microsofttranslator.com/translate?api-version=3.0&to=en"
              }
            },
            "KnowledgeBaseAPICall": {
              "runAfter": {
                "ToEnglish": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "body": {
                  "question": "@body('ToEnglish')[0]?['translations'][0]?['text']"
                },
                "headers": {
                  "Authorization": "[format('EndpointKey {0}', parameters('KBKey'))]",
                  "Content-type": "application/json"
                },
                "method": "POST",
                "uri": "[format('https://{0}.azurewebsites.net/qnamaker/knowledgebases/{1}/generateAnswer', parameters('qnaMakerResource'), parameters('KBID'))]"
              }
            },
            "FromEnglish": {
              "runAfter": {
                "KnowledgeBaseAPICall": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "body": [
                  {
                    "text": "@body('KnowledgeBaseAPICall')?['answers'][0]?['answer']"
                  }
                ],
                "headers": {
                  "Content-Type": "application/json",
                  "Ocp-Apim-Subscription-Key": "[parameters('translationKey')]"
                },
                "method": "POST",
                "uri": "https://api.cognitive.microsofttranslator.com/translate?api-version=3.0&to=@{body('ToEnglish')[0]?['detectedLanguage']?['language']}"
              }
            },
            "Response": {
              "runAfter": {
                "FromEnglish": [
                  "Succeeded"
                ]
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "body": [
                        {
                            "answer": "@body('FromEnglish')[0]?['translations'][0]?['text']"
                        }
                    ],
                "statusCode": "@outputs('FromEnglish')['statusCode']"
              }
            }
          },
          "outputs": {}
        },
        "parameters": {}
      }
    }
  ]
}
