retail/artifacts/templates/logic_app_storage_trigger_def.json
{
	"definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {

              },
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "items": {
                    "properties": {
                      "data": {
                        "properties": {
                          "api": {
                            "type": "string"
                          },
                          "blobType": {
                            "type": "string"
                          },
                          "clientRequestId": {
                            "type": "string"
                          },
                          "contentLength": {
                            "type": "integer"
                          },
                          "contentType": {
                            "type": "string"
                          },
                          "eTag": {
                            "type": "string"
                          },
                          "requestId": {
                            "type": "string"
                          },
                          "sequencer": {
                            "type": "string"
                          },
                          "storageDiagnostics": {
                            "properties": {
                              "batchId": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "dataVersion": {
                        "type": "string"
                      },
                      "eventTime": {
                        "type": "string"
                      },
                      "eventType": {
                        "type": "string"
                      },
                      "id": {
                        "type": "string"
                      },
                      "metadataVersion": {
                        "type": "string"
                      },
                      "subject": {
                        "type": "string"
                      },
                      "topic": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "topic",
                      "subject",
                      "eventType",
                      "id",
                      "data",
                      "dataVersion",
                      "metadataVersion",
                      "eventTime"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            }
          },
          "actions": {
            "For_each": {
              "foreach": "@triggerBody()",
              "actions": {
                "Create_SAS_URI_by_path": {
                  "runAfter": {

                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "body": {
                      "Permissions": "Read"
                    },
                    "host": {
                      "connection": {	
                        "name":   "@parameters('$connections')['connections_azureblob']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/datasets/default/CreateSharedLinkByPath",
                    "queries": {
                      "path": "@{substring(items('For_each')?['data']?['url'], indexof(items('For_each')?['data']?['url'], 'source-files'))}"
                    }
                  }
                },
                "HTTP": {
                  "runAfter": {
                    "Create_SAS_URI_by_path": [
                      "Succeeded"
                    ]
                  },
                  "type": "Http",
                  "inputs": {
                    "headers": {
                      "Content-Type\n": "multipart/form-data",
                      "Ocp-Apim-Subscription-Key\n": "###video_indexer_api_key###"
                    },
                    "method": "POST",
                    "queries": {
                      "accessToken": "@{body('Get_Video_Indexer_Token')}",
                      "accountId": "###video_indexer_account_id###",
                      "callbackUrl": "###call_back_url###",
                      "language": "English",
                      "location": "###location###",
                      "name": "@{substring(substring(items('For_each')?['data']?['url'], indexof(items('For_each')?['data']?['url'], 'source-files')), 13)}",
                      "privacy": "Public",
                      "videoUrl": "@{body('Create_SAS_URI_by_path')?['WebUrl']}"
                    },
                    "uri": "https://api.videoindexer.ai/###vi_location###/Accounts/###video_indexer_account_id###/Videos"
                  }
                }
              },
              "runAfter": {
                "Get_Video_Indexer_Token": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Get_Video_Indexer_Token": {
              "runAfter": {

              },
              "type": "Http",
              "inputs": {
                "headers": {
                  "Ocp-Apim-Subscription-Key": "###video_indexer_api_key###"
                },
                "method": "GET",
                "uri": "https://api.videoindexer.ai/Auth/###vi_location###/Accounts/###video_indexer_account_id###/AccessToken?allowEdit=true"
              }
            }
          },
          "outputs": {

          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "connections_azureblob": {
                "connectionId": "/subscriptions/###subscriptions_id###/resourceGroups/###rg_name###/providers/Microsoft.Web/connections/###blob_connection_name###",
                "connectionName": "###blob_connection_name###",
                "id": "/subscriptions/###subscriptions_id###/providers/Microsoft.Web/locations/###location###/managedApis/azureblob"
              }
            }
          }
        }
      }